.jsonEditor {
    border: 1px solid #111111;
    border-radius: 6px;
    overflow: hidden;
}

.invalid {
    border: 1px solid #f14c4c;
}

.errorMessage {
    padding: 6px;
    color: #fcf8f8;
    background-color: #a64343;
}