.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.left, .right {
    flex-grow: 1;
}

.middle button {
    margin-bottom: 2em;
}